
{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        发布于: {{ post.publish }} 作者: {{ post.author }}
    </p>
{#    {{ post.body|linebreaks }}#}{{ post.body|markdown }}
    <p>
        <!---blog是命名空间,post_share:视图,post.id:参数-->
        <a href="{% url "blog:post_share" post.id %}">
            分享
        </a>
    </p>
    <h2>类似文章</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
       没有类似的文章
    {% endfor %}

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }}条评论{{ total_comments|pluralize:"" }}
        </h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                {# 使用forloop.counter来枚举评论,该变量包含在每次迭代的循环计数中 #}
                第{{ forloop.counter }}条评论来自{{ comment.name }} 发表于:{{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}

             <a href="{% url "blog:comment_reply" comment.id %}">
            回复
            </a>
        </div>
    {% empty %}
        <p>还没有任何评论.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>还没有任何评论.</h2>
    {% else %}
        <h2>发表评论</h2>
        <form action="" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="评论"></p>
        </form>
    {% endif %}
{% endblock %}
